/game-web-admin/node_modules
/alipay-sever/node_modules
/alipay-server-ts/node_modules
/alipay-server-ts/dist
/alipay-admin-sever/node_modules
/admin-server/AdminServer/miniprogram/node_modules
/game-web-admin/dist
/go-admin/bin
/go-admin/game-admin/dist
/go-admin/game-admin/node_modules
/go-admin/admin-service/tests/__debug_bin
/go-admin/admin-service/test_binary.exe
/go-admin/admin-service/bin/*.exe
/go-admin/admin-service/__debug_bin.exe
/go-admin/admin-service/__debug_bin.exe1669570047
/go-admin/admin-service/*.exe
/go-admin/admin-service/__debug_bin.exe1045263975
/go-admin/admin-service/__debug_bin.exe1507452654
/go-admin/admin-service/admin-service
/go-admin/game-service/game-service.exe
/go-admin/game-service/test_redis.exe
/go-admin/game-service/logs/game-service.log
/go-admin/game-service/logs
